.calc-container {
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}

.calc-block {
  padding: 15px;
  color: white;
  will-change: transform; 
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
  background-image: linear-gradient(45deg, rgb(0, 112, 60) 0%, rgb(67, 150, 57) 100%); 
  border-radius: 15px;
  -webkit-box-shadow: 10px 10px 13px 0px rgba(37,102,0,1);
-moz-box-shadow: 10px 10px 13px 0px rgba(37,102,0,1);
box-shadow: 10px 10px 13px 0px rgba(37,102,0,1);

}

.calc-title, .item-title {
  text-align: center;
}

.bottom-border {
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 2px;
  border-bottom: 2px solid rgb(214, 214, 214);
}

.item-block {
  padding-bottom: 15px;
}


.floor-type-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
}

.floor-type-inner .radio-block {
  font-size: 24px;
}

.radio-block {
  transition: 0.5s linear;
  transition-property: background-color, padding;
  font-size: 16px;
  border-radius: 15px;
  margin: 0 15px;
  margin-top: 15px;
}

.radio-block:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(14, 114, 31);
  padding: 10px 15px;
}

input[type="radio"], label {
  cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
  display: none;
}


.check-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 20px;
    background-color: #2ecc71;
}

.checkbox-img {
  border-radius: 0px!important;
}
.check-img img {
  opacity: 0;
  transition: all .3s ease;
}

input[type="radio"]:checked ~label .check-img img{
  opacity: 1;
}

input[type="checkbox"]:checked ~label .check-img img{
  opacity: 1!important;
}

/* k. m. block style */
.km-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-field {
  width: 40%;
  height: 5px;
  padding: 15px;
  font-size: 25px;
  outline: none;
  border-radius: 5px;
  border: none;
}

/* radio blocks style */
.radio-blocks {
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
}

.radio-blocks, .radio-block-item > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.window-list {
  margin-top: 0;
  line-height: 1.6;
}

.decoration-block {
  width: 90%;
  margin: 0 auto;
  line-height: 1.6;
}

.checkbox-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.display {
  text-align: center;
}

.display > p {
  color: #fff200;
  font-size: 24px;
}

.result {
  font-weight: bold;
  color: black;
}

/* ---------------------------- */


#one-floor, #two-floor {
  display: none;
}

.error-v {
  border: 2px solid red;
}

.error-msg {
  color: black;
  font-weight: bold;
  font-size: 22px;
}
/*Button style*/
#btn-block {
  display: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

#sale {
	-moz-box-shadow: 3px 4px 0px 0px #fff6af;
	-webkit-box-shadow: 3px 4px 0px 0px #fff6af;
	box-shadow: 3px 4px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:17px;
	padding:7px 25px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  outline: none;
}
#sale:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
	background:-moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:-ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64',GradientType=0);
	background-color:#ffab23;
}
#sale:active {
	position:relative;
	top:1px;
}